.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

p {
  margin: 0.3rem 0;
}

.city {
  margin-bottom: 0;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
}

input {
  padding: 1rem;
  margin-right: 0.5rem;
  width: 15em;

  border-radius: 4px;
  border: none;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);

  font-size: 14px;
  outline: none;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 3rem;
  cursor: pointer;
}

.search button:hover {
  scale: 1.1;
}

.search button img {
  width: 16px;
}

.weather h2 {
  font-size: 2rem;
}

.details {
  display: flex;
  justify-content: space-between;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
  margin-left: 3rem;
}

.col img {
  margin-right: 14px;
  margin-top: 0.8rem;
  width: 60px;
}

.humidity,
.wind {
  font-size: 28px;
  margin: 0;
  padding-top: 15px;
}

.error {
  display: none;
  padding-top: 1rem;
  font-size: 20px;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

.weather-main {
  display: flex;
  align-items: center; /* Aligns the icon and temperature vertically */
  justify-content: center; /* Centers horizontally */
}

.weather-icon {
  width: 150px;
}

.temp {
  font-size: 80px;
  font-weight: 500;
  margin: 0;
}
